body {
    font-family: Arial, sans-serif;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.converter {
    background:lime;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    border-radius: 20px;
}

.input-group {
    margin: 10px 0;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: black;
    color: lime;
}

button {
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    background-color: black;
    color: lime;
}
a {
  color: lime;
  text-decoration: none;
}